/* Below 768px - Mobile */
@media (max-width: 374.99px) {
    #carouselExampleIndicators{
        margin-top: 150px !important;
    }

    .h2 {
        font-size: 2rem !important;
    }

    .top-bar{
        font-size: 12px !important;
    }

    .top-bar .flag-text{
        font-size: 11px !important;
    }
}

@media (min-width: 375px) and (max-width: 767.99px) { 
    #content canvas {
        width: 100%;
    }

    #content {
        margin-top: 0;
    }
    
    #carouselExampleIndicators{
        margin-top: 160px !important;
    }

    .h2{
        font-size: 1.8rem !important;
    }

    .h3, h3{
        font-size: 1.3rem !important;
    }

    p.desc{
        text-align: start;
    }

    #nominee_fund_protection .btn-learn {
        min-width: 100% !important;
    }

    #custom-tabs .tab-btn{
        min-width: 125px;
    }

    .arrow-list li{
        text-align: start;
    }
}

/* Below 768px - Mobile */
@media (min-width: 768px) { 
    .top-bar{
        padding: 0.5rem 2rem;
    }
    
}

/* 768px - 1024px - Tablet */
@media (min-width: 768px) and (max-width: 1023.99px) { 

    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
        --bs-gutter-x: 1.5rem !important;
    }
    
    #content {
        width: 100%;
        margin-top: 0;
        text-align: center;
    }

    .px-md-6 {
        padding-right: 6rem !important;
        padding-left: 6rem !important;
    }

    .px-md-7 {
        /* padding-right: 9rem !important; */
        padding-left: 9rem !important;
    }

    .px-md-8 {
        padding-right: 8rem !important;
        padding-left: 8rem !important;
    }
}

/* 1024px - 1499px - Desktop */
@media (min-width: 1024px) and (max-width: 1399.99px) { 
    body{
        font-size: 0.75rem !important;
    }
    
    .h2{
        font-size: 1.7rem !important;
    }

    .h3, h3{
        font-size: 1.2rem !important;
    }

    .top-bar .flag-text, .top-bar{
        font-size: 13px !important;
    }

    li.nav-item, .demo-account-btn, .live-account-btn, .menu li a{
        font-size: 0.7rem !important;
    }

    .stock-tesla-icon{ 
        width: 150px !important; 
        height: 150px !important; 
        margin: 50px 375px !important;
    }

    .stock-amazon-icon{
        width: 150px !important; 
        height: 150px !important; 
        margin: -240px 375px !important;
    }

    .stock-nikkie-icon{
        width: 120px !important; 
        height: 120px !important; 
        margin: 70px 0 !important;
    }

    .stock-apple-icon{
        width: 100px !important; 
        height: 100px !important; 
        margin: -200px 0 !important;
    }

    .top-right{
        right: 115px !important     ;
    }

    .bottom-right{
        bottom: 145px !important;
        right: -35 !important;
    }

    .top-left{
        top: 100px !important;
        left: 75px !important;
    }

    .bottom-left{
        bottom: 125px !important;
        left: 205px !important;
    }

    .market-card .px-5{
        padding-right: 2rem !important;
        padding-left: 2rem !important;
    }

    .demo-text{
        font-size: 15px !important;
    }

    .step-desc {
        font-size: 0.64rem !important;
    }

    .our-commitment-text-bg li{
        font-size: 0.75rem !important;
    }

    #account_type table td{
        font-size: .8rem !important;
    }

    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
        --bs-gutter-x: 4rem !important;
    }

    #nominee_fund_protection .btn-learn{
        min-width: 240px !important;
        font-size: 0.8rem !important;
    }

    .tech-feature{
        padding: 35px 20px !important;
    }

    .trade-indicies-responsive{
        margin-top: 0rem !important;
    }

    .MT5-web-trader{
        height: 300px !important; 
        margin: 22px 0 0 -50px !important;
    }

    .section-tools-resources {
        padding: 60px 0 !important;
    }
    
    .market-card{
        min-height: 190px !important;
    }

}

/* 1024px - 1499px - Desktop */
@media (min-width: 1400px) and (max-width: 1499.99px) { 
    /* body{
        font-size: 1rem !important;
    } */
    
    .h2{
        font-size: 2.2rem !important;
    }

    .h3, h3{
        font-size: 1.6rem !important;
    }

    .top-bar .flag-text, .top-bar{
        font-size: 13px !important;
    }

    li.nav-item, .demo-account-btn, .live-account-btn, .menu li a{
        font-size: 0.75rem !important;
    }

    .stock-tesla-icon{ 
        width: 150px !important; 
        height: 150px !important; 
        margin: 50px 375px !important;
    }

    .stock-amazon-icon{
        width: 150px !important; 
        height: 150px !important; 
        margin: -240px 375px !important;
    }

    .stock-nikkie-icon{
        width: 120px !important; 
        height: 120px !important; 
        margin: 70px 0 !important;
    }

    .stock-apple-icon{
        width: 100px !important; 
        height: 100px !important; 
        margin: -200px 0 !important;
    }

    .top-right{
        right: 115px !important     ;
    }

    .bottom-right{
        bottom: 145px !important;
        right: -35 !important;
    }

    .top-left{
        top: 100px !important;
        left: 75px !important;
    }

    .bottom-left{
        left: 205px !important;
    }

    .market-card .px-5{
        padding-right: 2rem !important;
        padding-left: 2rem !important;
    }

    .demo-text{
        font-size: 15px !important;
    }

    .step-desc {
        font-size: 0.64rem !important;
    }

    .our-commitment-text-bg li{
        font-size: 0.75rem !important;
    }
}

/* 1500px - 1699px - Large Screens */
@media (min-width: 1500px) and (max-width: 1699.99px) {
    .stock-tesla-icon{ 
        margin: 70px 360px !important;
    }

    .stock-amazon-icon{
        margin: -250px 400px !important;
    }

    .stock-nikkie-icon{
        margin: 70px -60px !important;
    }

    .stock-apple-icon{
        margin: -200px -60px !important;
    }
}

/* 1700px - 1999px - Large Screens */
@media (min-width: 1700px) and (max-width: 1999.99px) {

    .stock-tesla-icon{ 
        margin: 70px 325px !important;
    }

    .stock-amazon-icon{
        margin: -250px 375px !important;
    }

    .stock-nikkie-icon{
        margin: 70px -160px !important;
    }

    .stock-apple-icon{
        margin: -200px -160px !important;
    }
}

/* 1500px - 1999px - Large Screens */
@media (min-width: 1500px) and (max-width: 1999.99px) {

    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
        max-width: 1530px
    }

    .nav-link {
        margin: 0 5px !important;
    }

    li.nav-item {
        font-size: 0.83rem !important;
    }

}

/* 2000px - 2200px - Large Screens */
@media (min-width: 2000px) and (max-width: 2200px) {
    .nav-link {
        margin: 0 10px !important;
    }

    li.nav-item {
        font-size: 0.9rem;
    }
}

/* Respect user motion preferences */
@media (prefers-reduced-motion: reduce) {
    .float-y, .float-on-hover:hover { animation: none !important; }
}